{% extends "layout.html" %}
{% block content %}
    
    <h1>About this website</h1>
    
    <p>This is just a website to experiment some python scripts and ideas.</p>
    <p>The author of this website is Jonathan Pochini, an almost-former SEO consultant who gave up all his clients in order to keep om working exclusively on his own projects and on studying whatever drive his passions (at the moment Python and Finance).</p>
    <p>To contact Jonathan just google his full name "Jonathan Pochini" (he is the one and only) and choose whatever platform you like: Facebook, Linkedin, website...</p>
    <p>Enjoy!</p>

{% endblock %}