{% extends "layout.html" %}
{% block content %}
    
    <h1>Binance Alerts</h1>
    
    <table border="1" class="table" id="myTable">
        <thead>
            <tr>
            <th scope="col">coin</th>
            <th scope="col">mrkt</th>
            <th scope="col">below</th>
            <th scope="col">above</th>
            <th scope="col">price</th>
            <th scope="col">alert</th>
            </tr>
        </thead>
        <tbody>      
    {% for post in posts %}
        <tr>
            <td>{{ post.coin }}</td>
            <td>{{ post.market }}</td>
            <td>{{ post.below }}</td>
            <td>{{ post.above }}</td>
            <td>{{ post.price }}</td>
            <td>{{ post.alert }}</td>
        </tr>
    {% endfor %}
        </tbody>  
    </table>
    
    {% if text %}
    <p>{{ text }}</p>
    {% endif %}

{% endblock %}